<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Результат не найден</title>
    <link href = "{{url_for('static', filename = 'style1.css')}}"
          rel = "stylesheet" type = "text/css">
</head>
<body>
    <header>
        <img src="../static/warehouse.png" align="left" class="logo">
        <a href="{{url_for('auth_bp.lk_index')}}">
        <img align ="right" src="../static/lk.png" class="lk" alt="Кнопка">
    </a>
        <h1>Склад</h1>
    </header><br>
    <h2>Произошла ошибка</h2>
    Информация, соответствующая введенному запросу, отсутствует в базе данных
    <br><br>
    <a href = "/" style="color: #2271b3;">Вернуться в главное меню</a>
</body>
</html>