{% macro render_item(item, show_amount=False, show_form=False) %}

<div style="">

    {% if show_amount %}
    <p>
        <span>товар</span>
        <span style="color: blue">{{ item['shifr'] }}</span>
        <span>количество</span>
        <span>{{ item['amount'] }} {{item['measurerment_unit']}}</span>
        <span>Цена</span>
        <span style="color: blue">{{ item['price'] }}</span>
    </p>
    {% endif %}

    {% if show_form %}
    <div>
        <span>товар</span>
        <span style="color: blue">{{ item['shifr'] }}</span>
        <form action="" method="POST">
            <input type="hidden" name="idproduct" value="{{ item['idproduct']}}">
            <div class="input-block">
                <input style="color: red; width: 60px; margin-bottom: 5px; margin-right: 5px" name="amount" type="number" min="1" max="9999" step="1">
                <span style="font-size: 12pt;">{{item['measurerment_unit']}}</span><br>
                <input style="color: red; width: 80px; margin-bottom: 5px; margin-right: 5px" name="cost" type="number" min="1" max="999999" step="1">
                <span style="font-size: 12pt;">цена</span><br>
            </div>
            <input style="color: red; margin-bottom: 15px;" type="submit" name="send" value="добавить">
        </form>
    </div>
    {% endif %}
</div>

{% endmacro %}
